@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Gothic+A1:regular,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  font-size: 62.5%;
}

@media (max-width: 1024px) {
  html {
    font-size: 60.5%;
  }
}

@media (max-width: 435px) {
  html {
    font-size: 58%;
  }
}

body {
  font-family: 'Gothic A1';
  font-size: 1.6rem;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

[class*=__container] {
  max-width: 1240px;
  max-height: 100%;
  margin: 0px auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

.header__container {
  position: relative;
  width: 100%;
  z-index: 3;
}

.header__container .header__content {
  position: absolute;
  width: 100%;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7.9rem 0 2rem;
  z-index: 2;
}

@media (max-width: 600px) {
  .header__container .header__content {
    padding: 0 4rem 0 2rem;
  }
}

.header__container .header__content li {
  display: inline;
  color: #FFFFFF;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.header__container .header__content li a {
  color: #FFFFFF;
}

.header__container .header__content li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }
}

main {
  min-height: 100vh;
  background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
}

main .momentum__container {
  position: relative;
  height: 100vh;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .momentum__container .content {
  z-index: 2;
}

main .momentum__container .content h1 {
  color: #FFFFFF;
}

@media (max-width: 375px) {
  main .momentum__container .content h1 {
    font-size: 6rem;
  }
}

main .momentum__container .content p {
  font-size: 3rem;
  line-height: 4.4rem;
  color: #FFFFFF;
}

@media (max-width: 425px) {
  main .momentum__container .content p {
    font-size: 2rem;
  }
}

main .momentum__container .content button {
  width: 17rem;
  height: 6.6rem;
  color: #FFFFFF;
  background-color: #FC0A7E;
  border-radius: 0.3rem;
  margin: 2.5rem 0 0 0;
}

main .momentum__container .content button:hover {
  background-color: #FFFFFF;
  color: #FC0A7E;
  font-weight: 700;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

main .momentum__container .phone {
  position: absolute;
  height: 85%;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

main .momentum__container .arrow {
  position: absolute;
  bottom: 3rem;
  right: 50%;
}

@media (max-width: 1024px) {
  .phone {
    opacity: 30%;
  }
}

@media (max-width: 768px) {
  .phone {
    opacity: 30%;
  }
}

@media (max-width: 425px) {
  .phone {
    visibility: hidden;
  }
}

.tablet {
  min-width: 100vh;
  background: #1B1B1B;
}

@media (max-width: 1240px) {
  .tablet {
    min-width: 320px;
  }
}

.tablet .tablet__container {
  height: 100%;
  padding-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tablet .tablet__container .tablet__content {
  text-align: center;
  color: #FFFFFF;
}

.tablet .tablet__container .tablet__content h2 {
  width: 60rem;
  margin-bottom: 5.5rem;
}

@media (max-width: 1240px) {
  .tablet .tablet__container .tablet__content h2 {
    width: 30rem;
    font-size: 2rem;
  }
}

.tablet .tablet__container .tablet__content h4 {
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.tablet .tablet__container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 83%;
}

.cay-sociis__container {
  max-width: 89.2rem;
}

.cay-sociis__container .cay-sociis__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 19.5rem;
  padding: 8rem 0 8rem 0;
}

@media (max-width: 768px) {
  .cay-sociis__container .cay-sociis__content {
    gap: 5rem;
  }
}

.cay-sociis__container .cay-sociis__content .image {
  width: 34.1rem;
  height: 63.7rem;
}

.text-block {
  width: 306px;
}

.text-block h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: #a8a8a8;
}

.text-block h2 {
  font-size: 3.8rem;
  margin-bottom: 2.2rem;
}

.text-block p {
  color: #6b6b6b;
  line-height: 3rem;
}

@media (max-width: 425px) {
  .text-block {
    text-align: center;
  }
}

.amet-ipsum__container {
  max-width: 83.6rem;
}

.amet-ipsum__container .amet-ipsum__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14.4rem;
  padding: 8rem 0 8rem 0;
}

@media (max-width: 768px) {
  .amet-ipsum__container .amet-ipsum__content {
    gap: 4rem;
  }
}

@media (max-width: 425px) {
  .amet-ipsum__container .amet-ipsum__content {
    padding: 0;
  }
}

.amet-ipsum__container .amet-ipsum__content .image {
  width: 38.6rem;
  height: 46.9rem;
}

@media (max-width: 425px) {
  .amet-ipsum__container .amet-ipsum__content .image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.text-block {
  width: 306px;
}

.text-block h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: #a8a8a8;
}

.text-block h2 {
  font-size: 3.8rem;
  margin-bottom: 2.2rem;
}

.text-block p {
  color: #6b6b6b;
  line-height: 3rem;
}

@media (max-width: 425px) {
  .text-block {
    text-align: center;
  }
}

.magna__container {
  max-width: 84.2rem;
}

.magna__container .magna__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 19.5rem;
  padding: 8rem 0 8rem 0;
  margin: 0 0 8rem 0;
}

@media (max-width: 768px) {
  .magna__container .magna__content {
    gap: 5rem;
  }
}

@media (max-width: 500px) {
  .magna__container .magna__content {
    margin: 0;
  }
}

.magna__container .magna__content .image {
  width: 34.1rem;
  height: 50.8rem;
}

.text-block {
  width: 306px;
}

.text-block h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: #a8a8a8;
}

.text-block h2 {
  font-size: 3.8rem;
  margin-bottom: 2.2rem;
}

.text-block p {
  color: #6b6b6b;
  line-height: 3rem;
}

@media (max-width: 425px) {
  .text-block {
    text-align: center;
  }
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16.3rem;
}

.cards__container .cards__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6rem;
}

.cards__container .cards__advantages .activity, .cards__container .cards__advantages .custom, .cards__container .cards__advantages .mobile {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  text-align: center;
}

.cards__container .cards__advantages .activity .img, .cards__container .cards__advantages .custom .img, .cards__container .cards__advantages .mobile .img {
  margin: 0 0 4rem 0;
}

.cards__container .cards__advantages .activity h3, .cards__container .cards__advantages .custom h3, .cards__container .cards__advantages .mobile h3 {
  font-weight: 700;
  margin: 0 0 1.7rem 0;
}

.cards__container .cards__advantages .activity p, .cards__container .cards__advantages .custom p, .cards__container .cards__advantages .mobile p {
  line-height: 3rem;
  color: #6b6b6b;
}

.cards__container .cards__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 0 17rem 0;
}

.cards__container .cards__statistic .nibh, .cards__container .cards__statistic .aenean, .cards__container .cards__statistic .quam, .cards__container .cards__statistic .ullamcorper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.cards__container .cards__statistic .nibh .number, .cards__container .cards__statistic .aenean .number, .cards__container .cards__statistic .quam .number, .cards__container .cards__statistic .ullamcorper .number {
  font-size: 5.9rem;
  margin: 0 0 1rem 0;
  line-height: 9rem;
}

.cards__container .cards__statistic .nibh p, .cards__container .cards__statistic .aenean p, .cards__container .cards__statistic .quam p, .cards__container .cards__statistic .ullamcorper p {
  font-weight: 700;
  font-size: 1.8rem;
}

@media (max-width: 500px) {
  .cards__container {
    gap: 5rem;
  }
  .cards__container .cards__advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 1rem;
  }
  .cards__container .cards__advantages .activity p, .cards__container .cards__advantages .custom p, .cards__container .cards__advantages .mobile p {
    display: none;
  }
  .cards__container .cards__statistic {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2rem;
    margin: 0 0 10rem 0;
  }
}

.sem-risus__container {
  max-width: 96.9rem;
}

.sem-risus__container .sem-risus__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
  margin: 0 0 16rem 0;
}

@media (max-width: 768px) {
  .sem-risus__container .sem-risus__content {
    text-align: center;
    margin: 0 0 8rem 0;
  }
}

.text-block {
  width: 306px;
}

.text-block h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: #a8a8a8;
}

.text-block h2 {
  font-size: 3.8rem;
  margin-bottom: 2.2rem;
}

.text-block p {
  color: #6b6b6b;
  line-height: 3rem;
}

@media (max-width: 425px) {
  .text-block {
    text-align: center;
  }
}

.parturient__container {
  max-width: 96.9rem;
}

.parturient__container .parturient__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
  margin: 0 0 16rem 0;
}

.text-block {
  width: 306px;
}

.text-block h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: #a8a8a8;
}

.text-block h2 {
  font-size: 3.8rem;
  margin-bottom: 2.2rem;
}

.text-block p {
  color: #6b6b6b;
  line-height: 3rem;
}

@media (max-width: 425px) {
  .text-block {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .parturient__container .parturient__content {
    text-align: center;
    margin: 0 0 8rem 0;
  }
  .parturient__container .parturient__content .picture {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.citation__container {
  max-width: 70rem;
}

.citation__container .citation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.citation__container .citation__content .quotes {
  margin-bottom: 6.6rem;
}

.citation__container .citation__content .text {
  font-size: 2.4rem;
  line-height: 4rem;
  margin-bottom: 1.7rem;
}

@media (max-width: 768px) {
  .citation__container .citation__content .text {
    padding: 2rem;
  }
}

.citation__container .citation__content .sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-bottom: 8.8rem;
}

.citation__container .citation__content .sign .sign__magazine {
  font-weight: 700;
}

.citation__container .citation__content .dotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
  margin-bottom: 14.2rem;
}

@media (max-width: 768px) {
  .citation__container .citation__content .dotes {
    margin-bottom: 2rem;
  }
}

.citation__container .citation__content .sponsor {
  margin-bottom: 11.8rem;
}

@media (max-width: 768px) {
  .citation__container .citation__content .sponsor {
    display: none;
  }
}

.mobile-phones .mobile-phones__content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.get-started {
  background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
  position: relative;
}

.get-started:hover::before {
  opacity: 1;
}

.get-started::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: url("./img/vec.svg");
  -webkit-transition: 1s;
  transition: 1s;
}

.get-started .get-started__container .get-started__content {
  height: 47.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 320px) {
  .get-started .get-started__container .get-started__content {
    text-align: center;
  }
}

.get-started .get-started__container .get-started__content h2 {
  color: #FFFFFF;
}

.get-started .get-started__container .get-started__content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

@media (max-width: 320px) {
  .get-started .get-started__container .get-started__content .buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.get-started .get-started__container .get-started__content .buttons .download-now {
  width: 17rem;
  height: 6.6rem;
  color: #FFFFFF;
  background-color: #FC0A7E;
  border-radius: 0.3rem;
}

.get-started .get-started__container .get-started__content .buttons .download-now:hover {
  color: #FC0A7E;
  background-color: #FFFFFF;
}

.get-started .get-started__container .get-started__content .buttons .get-in-touch {
  width: 17rem;
  height: 6.6rem;
  color: #FFFFFF;
  background: none;
  border: 0.2rem solid #FC0A7E;
}

.get-started .get-started__container .get-started__content .buttons .get-in-touch:hover {
  color: #FC0A7E;
  background-color: #FFFFFF;
}

.e-mail {
  background: #1B1B1B;
}

@media (max-width: 500px) {
  .e-mail .e-mail__container {
    text-align: center;
  }
}

.e-mail .e-mail__container .e-mail__content {
  height: 46.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.e-mail .e-mail__container .e-mail__content h2 {
  color: #FFFFFF;
  margin-bottom: 2rem;
}

.e-mail .e-mail__container .e-mail__content p {
  color: #6b6b6b;
  margin-bottom: 4rem;
}

.e-mail .e-mail__container .e-mail__content .input-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 500px) {
  .e-mail .e-mail__container .e-mail__content .input-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.e-mail .e-mail__container .e-mail__content .input-button .field {
  width: 31.1rem;
  height: 7rem;
  border-radius: 3px 0px 0px 3px;
  padding-left: 2.2rem;
}

.e-mail .e-mail__container .e-mail__content .input-button .field::-webkit-input-placeholder {
  color: black;
}

.e-mail .e-mail__container .e-mail__content .input-button .field:-ms-input-placeholder {
  color: black;
}

.e-mail .e-mail__container .e-mail__content .input-button .field::-ms-input-placeholder {
  color: black;
}

.e-mail .e-mail__container .e-mail__content .input-button .field::placeholder {
  color: black;
}

@media (max-width: 500px) {
  .e-mail .e-mail__container .e-mail__content .input-button .field {
    border-radius: 3px;
  }
}

.e-mail .e-mail__container .e-mail__content .input-button .submit {
  width: 15.4rem;
  height: 7rem;
  border-radius: 0px 3px 3px 0px;
  background: #FC0A7E;
  -webkit-transition: 1s;
  transition: 1s;
}

.e-mail .e-mail__container .e-mail__content .input-button .submit:hover {
  background-color: #8a2be2;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 500px) {
  .e-mail .e-mail__container .e-mail__content .input-button .submit {
    border-radius: 3px;
  }
}

footer {
  background: #1B1B1B;
}

footer .footer__content {
  padding: 2rem 0 6.9rem 0;
  text-align: center;
}

footer .footer__content .footer__image {
  margin-bottom: 2.9rem;
}

footer .footer__content .footer__contacts li {
  display: inline;
  color: #6b6b6b;
  font-size: 1.2rem;
  padding: 0 1.5rem 0 1.5rem;
}

footer .footer__content .footer__contacts li:hover {
  color: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 600px) {
  footer .footer__content .footer__contacts li {
    display: block;
    padding: 1rem 0 1rem 0;
  }
}
