.momentum{
	min-height: 100vh;
	background: $gradient_back;
	.momentum__container{
		position: relative;
		height: 100vh;
		padding: 2rem;
		display: flex;
		align-items: center;
		.content{
			z-index: 2;
			h1{
				@media (max-width:425px){
					font-size: 5rem;
				}
				font-size: 8rem;
				color: $white;
			}
			p{
				font-size: 3rem;
				line-height: 4.4rem;
				color: $white;
				@media (max-width:425px){
					font-size: 2rem;
				}
			}
			button{
				width: 17rem;
				height: 6.6rem;
				color: $white;
				background-color: $pink;
				border-radius: 0.3rem;
				margin: 2.5rem 0 0 0;
				&:hover{
					background-color: $white;
					color: $pink;
					font-weight: 700;
					transition: 0.5s ease;
				}
			}
		}
		.phone{
			position: absolute;
			height: 85%;
			right: 0px;
			bottom: 0px;
		z-index: 1;}
		.arrow{
			position: absolute;
			bottom: 3rem;
			right: 50%;
		}
		}
	}
	@media(max-width:1024px){
		.phone{
			opacity: 30%;
		}
	}
	@media (max-width:768px) {
		.phone{
			opacity: 30%;
		}
	}
	@media (max-width:425px) {
		.phone{
			visibility: hidden;
		}
	}
	

