.magna__container{
	max-width: 84.2rem;
	.magna__content{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 19.5rem;
		padding: 8rem 0 8rem 0;
		margin: 0 0 8rem 0;
		.image{
			width: 34.1rem;
			height: 50.8rem;
		}
	}
}
@import 'text-block';

@media (max-width: 768px) {
	.magna__container{
		.magna__content{
		gap:5rem;
	}
}
}
@media (max-width: 500px){
	.magna__container{
		.magna__content{
			margin: 0;
		}
	}
}

