.amet-ipsum__container{
	max-width: 83.6rem;
	
	.amet-ipsum__content{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 14.4rem;
		padding: 8rem 0 8rem 0;
		@media (max-width: 768px){
			gap:4rem;
		}
		@media (max-width:425px){
			padding: 0;
		}

		.image{
			width: 38.6rem;
			height: 46.9rem;
			@media (max-width:425px){
				order: 1;
			}
		}
	}
}
@import './text-block';

