.sem-risus__container{
	max-width: 96.9rem;
	.sem-risus__content{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 8rem;
		margin: 0 0 16rem 0;
		@media (max-width:768px){
			text-align: center;
			margin: 0 0 8rem 0;
		}
	}
}
@import './text-block';

