.tablet{
	min-width: 100vh;
	background: $black;
	@media (max-width:1240px){
		min-width: 320px;
	}
	.tablet__container{
		height: 100%;
		padding-top: 8rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		
		.tablet__content{
			text-align: center;
			color: $white;

			h2{
				width: 60rem;
				margin-bottom: 5.5rem;
				@media (max-width:1240px){
					width: 30rem;
					font-size: 2rem;
				}
			}
			h4{
				text-transform: uppercase;
				margin-bottom: 3rem;
			}
			}
	img{
		object-fit: cover;
		width: 83%;
	}
}
}
