$white: #FFFFFF;
$pink: #FC0A7E;
$violet: #8a2be2;
$black: #1B1B1B;
$grey: rgba(168, 168, 168, 1);
$darkgrey: rgba(107, 107, 107, 1);
$darkblack: rgba(0, 0, 0, 1);
$gradient_back: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
